* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* Class Utility */
body {
  font-family: 'Roboto', sans-serif;
}

.bg_green {
background: #7cbb02;
}

.bg_blue {
background: #0c3259
}

.bg_grey {
  background: #d3d3d3;
}

/* /Class Utility */


/* #site_header */
header {
  height: 550px;
}
/* /#site_header */

/* #site_nav */
nav {
  height: 100px;
  width: 80%;
  margin: auto;
}

nav a {
  color: white;
  font-size: 10px;
  margin: 0 5px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 100px;
}

.logo_container {
  width: 15%;
  line-height: 113px;
}

.menu_left {
  width: 55%;
}

.menu_right {
  width: 30%;
  text-align: right;
}

.menu_right a:last-child  {
  border-radius: 3px;
  padding: 6px 3px;
}

.menu_right a:nth-last-child(2) {
  border-radius: 3px;
  border: 1px solid white;
  padding: 5px 12px;
}
/* /#site_nav */

/* #hero_section */
.hero_container {
  height: 450px;
  width: 80%;
  margin: auto;
  position: relative;
}

.hero_content {
  height: 100%;
  width: 100%;
  background-image: url("../img/banner_header.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
transform: translateX(20%);
}

.hero_text {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  color: white;
}

.hero_text h1 {
  font-size: 40px;
  width: 450px;
}

.hero_text a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  line-height: 100px;
  padding: 20px 20px;
}

.header_bottom {
  height: 100px;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 90px;
}
/* /#hero_section */




/* #site_main */
main {
  height: 1000px;
}

.row_container {
  height: 400px;
  
  width: 80%;
  margin: auto;
}

.col_3 {
  height: 400px;
  width: 33.33%;
}

.col_2 {
  height: 400px;

  width: 50%;
}
/* /#site_main */

/* #site_footer */
footer {
  height: 150px;
}
/* /#site_footer */




.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float_left {
  float: left;
